#!/usr/bin/make -f

DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)
ASL3_ASTERISK_VERSION ?= $(shell dpkg-query -W -f='$${Version}' asl3-asterisk)
DEB_BINARY_PACKAGE ?= usbradioplus

%:
	dh $@

override_dh_auto_build:
	$(MAKE) all

override_dh_auto_test:
	$(MAKE) check

override_dh_auto_install:
	$(MAKE) DESTDIR=$(CURDIR)/debian/$(DEB_BINARY_PACKAGE) prefix=/usr \
		asteriskmoduledir=/usr/lib/$(DEB_HOST_MULTIARCH)/asterisk/modules install

override_dh_auto_clean:
	$(MAKE) clean

override_dh_installdocs:
	dh_installdocs README.md CHANGELOG.md doc/native-radio.md doc/agc.md \
		examples/usbradioplus.conf.sample

override_dh_gencontrol:
	dh_gencontrol -- -V'usbradioplus:ASLDepends=asl3-asterisk (= $(ASL3_ASTERISK_VERSION))'
