#!/usr/bin/make -f

DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)

%:
	dh $@

override_dh_auto_build:
	$(MAKE) all

override_dh_auto_test:
	$(MAKE) check

override_dh_auto_install:
	$(MAKE) DESTDIR=$(CURDIR)/debian/usbradioplus prefix=/usr \
		asteriskmoduledir=/usr/lib/$(DEB_HOST_MULTIARCH)/asterisk/modules install

override_dh_auto_clean:
	$(MAKE) clean
